.image {
    margin-top: 1.2em;
    margin-bottom: 1em;
    border-radius: 50%;
    border:solid 0.5em #ff0000;
    width: 50%;
    height:auto;
    transform: scale(1,1.1);
    box-shadow: 0em 0.3em 0.3em rgba(0,0,0,0.5);

}